@page "/transactions"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorCrud.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorCrud.Data.BlazorCrudContext> DbFactory

<PageTitle>Transactions</PageTitle>

<h1>Transactions</h1>

<p>
    <a href="transactions/create">Add New Transaction</a>
</p>

<QuickGrid Class="table text-white" Items="context.Transaction">
    <PropertyColumn Property="transaction => transaction.Description" />
    <PropertyColumn Property="transaction => transaction.Amount" />
    <PropertyColumn Property="transaction => transaction.Type" />
    <PropertyColumn Property="transaction => transaction.Category" />
    <PropertyColumn Property="transaction => transaction.Date" />

    <TemplateColumn Context="transaction">
        <a href="@($"transactions/edit?id={transaction.Id}")">Edit</a> |
        <a href="@($"transactions/details?id={transaction.Id}")">Details</a> |
        <a href="@($"transactions/delete?id={transaction.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BlazorCrudContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
